.section-label{
	font-weight:bold;
}

.search-area {
	margin : 10px;
}

.search-area button {
	border:1px solid #ccc;
	margin-bottom:10px;
	margin-top:10px;
}

.food-table {
	margin :10px;
}

.food-table,.food-table th,.food-table td {
	border: 1px solid #ccc;
	padding:5px;
}